<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="EndpointAddress" connectionString="0Fcuk3rdMItJkTUtPoqxv1aG0+KsiIUUD+UqcPTSvaE="/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
